<?xml version='1.0' encoding='utf-8'?>
<widget id="com.miApp.reproductor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ReproductorApp</name>
    <description>Reproductor de video personalizado mediante archivo JSON</description>
    <author email="soporte@miapp.com" href="https://github.com">Tu Nombre</author>
    
    <content src="index.html" />
    
    <icon src="icon.png" />
    
    <!-- Permisos globales de red -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <preference name="ScrollEnabled" value="true" />
    <preference name="BackupWebStorage" value="none" />

    <platform name="android">
        <icon src="icon.png" />
        <allow-intent href="market:*" />
        
        <!-- Permitir peticiones HTTP/HTTPS externas sin restricciones -->
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="36" />
        <preference name="android-compileSdkVersion" value="36" />
        <preference name="Scheme" value="https" />
        <preference name="Hostname" value="localhost" />
    </platform>
</widget>
